:root {
  --background-color: rgb(35, 37, 35);;
  --text-color: rgb(237, 237, 237);
  --base-color: #ffd6dd;
  --spacing: 0px;
  --blur: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

html {
  font-size: 62.5%; /* 1rem = 10px for easier rem calculation */
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1.5rem;
}

.header {
  margin-top: 5rem;
  font-size: 1.64rem;
}

.header__highlight {
  color: var(--base-color);
}

.header, .settings {
  margin-bottom: 5rem;
}

.settings__control {
  display: inline-block;
  margin-right: 2rem;
}

.settings__label {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 300;
}

.settings__input {
  width: 120px;
}

.image__img {
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: var(--spacing);
  filter: blur(var(--blur));
  background-color: var(--base-color);
}

@media (min-width: 736px) {
  .header {
    font-size: 2rem;
  }

  .settings__label {
    font-size: 2.5rem;
  }
}

@media (min-width: 900px) {
  .header {
    font-size: 2.5rem;
  }

  .settings__label {
    font-size: 3rem;
  }
}